body {
	background-color: #49E949;
}

h1 {
	color: #fff;
	margin-left: 15px;
	
}

p {
	color: #fff;
}


/* Info */

.info {
	padding-top: 50px;
	padding-bottom: 400px;
}

.info-title {
	text-align: center;
}

.info-text {
	text-align: center;
}